<h1><%= @website.name %></h1>

<p><%= link_to @website.address, @website.address %></p>

<p><%= @website.description %></p>

<p>Token: <strong><%= @website.token %></strong></p>
<% unless @website.verified %>
  <%= link_to 'Verify Website', website_verifications_path(id: @website.id), method: :post, class: 'btn btn-success' %>
<% end %>
