<fieldset class="col-md-4">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div id="legend">
      <legend>Sign In</legend>
    </div>
    <div class="form-group">
      <%= f.label :email, class: 'Email address' %>
      <%= f.email_field :email, autofocus: true, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
    </div>

    <div class="form-group">
      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>
    </div>

    <%= f.submit "Log in", class: 'btn btn-success' %>
  <% end %>

  <p><%= render "devise/shared/links" %></p>
</fieldset>
